<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wings-core Server Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

      <!-- NAVBAR ONLY -->
    <div class="top-navbar">
        <div class="logo">
            <h1>wings-core</h1>
            <img src="https://res.cloudinary.com/dpz6yopxy/image/upload/v1771494215/columbinaa1.jpg" alt="icon">
        </div>

    


</body>
</html>